.bloque{
    text-align: center; 
    background-color: crimson;
}

.tarjeta  {
    background-color: azure;   
    border: 2px solid gray;
    width: 200px;
    height: 200px;
    padding: 10px; /* Almohadita alrrededor*/
    margin: 10px; 

    text-align: center;
    box-sizing: border-box; /*La tarjeta no modifica
     su tamaño - incluye adentro el borde y el padding
     -No se lo adiciona a su tamaño*/
    display: inline-block; /* Comportate 
    como un elemento en linea */
    
}
/*Las imagenes tienen su propio tamaño
y su relacion de aspecto*/
.imagen {
    width: 130px;
    height: 130px;

}

